<p id="notice"><%= notice %></p>

<h1>Diputados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Partido politico</th>
      <th>Fecha de nacimiento</th>
      <th>Comuna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parliamentaries.each do |parliamentary| %>
      <tr>
        <td><%= parliamentary.name %></td>
        <td><%= parliamentary.political_party %></td>
        <td><%= parliamentary.birthdate %></td>
        <td><%= parliamentary.district.name %></td>
        <td><%= link_to 'Show', parliamentary %></td>
        <td><%= link_to 'Edit', edit_parliamentary_path(parliamentary) %></td>
        <td><%= link_to 'Destroy', parliamentary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Diputado', new_parliamentary_path %>
