<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <table class="table text-center">

        <% @users.each do |u| %>
            <tr>
                <th>Nombre</th> 
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Comuna</th>
                            
                <th colspan="5"></th>
            </tr>
            <br>

            <tr>
                <td><%= u.name %></td>
                <td><%= u.lastname %></td>
                <td><%= u.email %></td>
                <td><%= u.role %></td>                
                <td><%= u.district_id %></td>  

             </tr>

        <% end %>
    </table>
    
</body>
</html>