<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= districts_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">       
        
  
        
        <% if user_signed_in? %>  

          <% if current_user.admin? %>
				  <li class="nav-item active">
            
            <a class="nav-link" href="<%= districts_path %>">Panel de control</a>
          </li>
           <li class="nav-item active">
            
            <a class="nav-link" href="<%= users_path %>">Panel de control</a>
          </li>
           <li class="nav-item active">
            
            <a class="nav-link" href="<%= districts_path %>">Panel de control</a>
          </li>
				  <% end %>

          <li class="nav-item">                     
            <%= link_to('Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'nav-link') %>
          </li>
   
        <% else %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= new_user_session_path %>">Iniciar sesion</a>
          </li>       
          <li class="nav-item active">
            <a class="nav-link" href="<%= new_user_registration_path %>">Registrarse</a>
          </li>  
        <% end %>		
	     
      </ul>
    
    </div>
  </nav>
    <%= yield %>
  </body>
</html>